---
import "../styles/global.css"
---

<!--Para poder aplicar estilos con tailwind, es necesario importar el archivo global.css  -->

<header class="flex justify-between py-3 w-[1120px] opacity-75">
    <img 
        class="rounded-full h-12" 
        src="https://static.vecteezy.com/system/resources/previews/010/967/635/non_2x/avatar-male-with-glasses-free-vector.jpg"
        alt="Edgar Photo"
    />

    <nav class="flex flex-row gap-x-10.5 font-semibold">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>