---
import Header from "../components/Header.astro"
import "@fontsource-variable/eb-garamond"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Porfolio with Astro</title>
	</head>
	<body>
		<Header/>
		<slot />
	</body>
</html>

<style>
	html{
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'EB Garamond Variable', system-ui, sans-serif;
	}
	
	body {
		background-color: #050505;
		display: flex;
		justify-content: center;
		min-height: 100vh;
	}
</style>
